nav {
  background-color: var(--secondary-bg);
  backdrop-filter: blur(5px);
}

.navbar-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: var(--main-transition);
  font-weight: 700;
}

.navbar-brand img {
  display: block;
  width: 3rem;
  height: 3rem;
  aspect-ratio: 1/1;
}


.navbar-brand:hover {
  transform: scale(1.05);
}

.nav-link {
  letter-spacing: 1px;
  cursor: pointer;
  color: var(--text-color-1);
}

.nav-link.active {
  color: var(--primary-color-highlight);
}

.nav-link:hover {
  color: var(--primary-color-highlight);
}
