<div class="row">
 <div class="col-12 col-md-4 p-4">
  <div class="menu-picker" routerLink="/registro">
    <i class="fa-solid fa-user-plus"></i>
    <h2>Registro</h2>
  </div>
</div>
 <div class="col-12 col-md-4 p-4">
  <div class="menu-picker" routerLink="/resultados">
    <i class="fa-solid fa-chart-column"></i>
    <h2>Resultados</h2>
  </div>
</div>
 <div class="col-12 col-md-4 p-4">
  <div class="menu-picker" routerLink="/acerca">
    <i class="fa-regular fa-circle-question"></i>
    <h2>Acerca De</h2>
  </div>
</div>
</div>
