<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-3 my-4">
        <img src="/assets/foto-perfil.png" alt="" class="foto-perfil">
      </div>
      <div class="col-12 col-md-6 mt-5">
        <h1 class="text-center text-md-start">Quién Soy</h1>
        <p class="mt-5">Mi nombre es Manuel Alfaro, soy desarrollador Full Stack y Diseñador Gráfico. Nacido y criado en la Perla del Norte y actualmente viviendo en Viña del Mar. Desde el 2011 he realizado proyectos web en modalidad Freelance. Hoy me especializo utilizando Java con Spring Boot para Backend y Angular con TypeScript para Frontend.

        En mis tiempos libres me gusta leer, hacer música y competir en videojuegos.</p>
        <div class="rss d-flex">
          <a href="https://www.linkedin.com/in/manueldavidalfaro/"><i class="fa-brands fa-linkedin"></i></a>
          <a href="https://www.manudavid.cl"><i class="fa-solid fa-earth-americas"></i></a>
          <a href="https://github.com/ManuDve"><i class="fa-brands fa-github"></i></a>
        </div>

      </div>
    </div>
  </div>
  </section>
