/* You can add global styles to this file, and also import other style files */

:root {
  --main-gradient: radial-gradient(circle, rgb(0, 55, 157) 0%, rgba(9,43,121,1) 100%);
  --main-bg: rgb(0, 48, 137);
  --secondary-bg: #00000020;
  --primary-color: #d1d3f1;
  --primary-color-highlight: #80dfff;
  --secondary-color: #ffffff;
  --main-transition: 250ms ease-out;
  --transparent: #ffffff00;
}

body {
  background: var(--main-bg);
  background: var(--main-gradient);
  color: var(--primary-color);
}

h1 {
  color: var(--secondary-color);
}

